/* Media Queries */

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {

  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }

  .col-s-2 {
    width: 16.66%;
  }

  .col-s-3 {
    width: 25%;
  }

  .col-s-4 {
    width: 33.33%;
  }

  .col-s-5 {
    width: 41.66%;
  }

  .col-s-6 {
    width: 50%;
  }

  .col-s-7 {
    width: 58.33%;
  }

  .col-s-8 {
    width: 66.66%;
  }

  .col-s-9 {
    width: 75%;
  }

  .col-s-10 {
    width: 83.33%;
  }

  .col-s-11 {
    width: 91.66%;
  }

  .col-s-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {

  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }
}

/* ______________________________________________ */


* {
  margin: 0%;
  padding: 0%;
}

html, body {
  height: 100%;
}

#container {
  min-height: 100%;
}

/* 1/3 */
#header {
  position: relative;
  background: #222629;
  height: 100%;
  width: 100%;
}

.navContainer {
  background: #222629;
  padding: 20px;
}

#svg {
  display: block;
  margin: 0 auto;
  width: 80%;
}

li {
  justify-content: space-around;
  display: inline-flex;
  padding-right: 75px;
  padding-left: 75px;
  margin: 0 auto;
  list-style: none;
}

#navbar {
  margin: 0 auto;
}

.navbar-nav>li>div>.nav-link {
  color: #88BDBC !important;
  text-decoration: none;
}

.navbar-nav>.nav-active>div>a {
  color: rgb(243, 243, 117) !important;
  text-decoration: none;
}

.navbar-nav>li>div>.nav-link:hover {
  color: rgb(243, 243, 117) !important;
}

/* 2/3 */
#body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #474B4F;
}

#mid {
  overflow: auto;
  background-color: #88BDBC;
  width: 65%;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 5%;
}

h1 {
  color: #222629;
  text-align: center;
  padding-top: 10%;
  font-family: 'Herr Von Muellerhoff',
  cursive;
  font-size: 7vw;
}

#line {
  margin-top: -1.5%;
  color: #222629;
  text-align: center;
  padding-bottom: 2%;
  font-size: 2vw;
}

.w-engine-m {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  padding-top: 56.25%;
  width: 80%;
  height: 80%;
  margin-bottom: 5%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 25px;
}

#w-enginetext {
  color: #222629;
  margin-left: 20%;
  margin-right: 20%;
  font-family: "Source Sans Pro",
  sans-serif;
  padding-top: 2%;
  font-size: 2vh;
}

/*Carousel*/

#carousel {
  position: relative;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  width: 80%;
  height: 100%;
  background-color: #222629;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  border-radius: 25px;
}

.showcase {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  width: 100%;
  height: 100%;
}

.slideCap {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  padding-top: 10px;
  color: #88BDBC;
}

#sliders {
  border-radius: 20px;
  width: 100%;
  height: 90%;
}

/* Search */

#search {
  text-align: center;
  padding-bottom: 50px;
}

::placeholder {
  text-align: center;
}

input {
  background-color: rgb(243, 243, 117);
}

/* Modular Presentation Cubes  */

.container-fluid {
  position: relative;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

#stack {
  margin: 1%;
}

article {
  justify-content: center;
  background-color: #222629;
  width: 400px;
  height: 100%;
  margin: 1%;
  padding-top: 15px;
}

#card {
  display: block;
  margin: 0 auto;
}

h4 {
  text-align: center;
  color: #88BDBC;
}

.about {
  color: #222629;
  margin-left: 28%;
  margin-right: 28%;
  font-size: 2vh;
  font-family: "Source Sans Pro",
  sans-serif;
}

/* 3/3 */
#footer {
  clear: both;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 400px;
  background: #222629;
  padding-top: 10px;
}

.nav {
  margin: 3%;
}

.nav-link {
  color: #88BDBC;
}

a.nav-link:hover {
  color: rgb(243, 243, 117) !important;
  transition: ease-in .3s;
}

.dropdown-menu {
  background-color: #88BDBC;
  padding-left: 4%;
  padding-right: 4%;
}

.reachOut {
  margin-bottom: -1px;
  color: #222629;
  background-color: #88BDBC;
  font-family: "Source Sans Pro", sans-serif;
  font-size: .9em;
}

.email {
  margin-bottom: 4px;
}

.mailer {
  color: #222629;
  text-align: left;
  font-family: "Source Sans Pro", sans-serif;
  font-size: .9em;
}

a.mailer:hover {
  color: rgb(243, 243, 117);
}

.socialRow {
  text-align: center;
}

.fab {
  margin-top: 1.5%;
}

.socialLinks {
  color: #88BDBC;
  margin-left: 3%;
}

.socialLinkAlpha {
  color: #88BDBC;
}

.socialRow>a:hover {
  color: rgb(243, 243, 117);
  transition: ease-in .3s;
}

.trademark {
  text-align: center;
  margin-top: 5%;
  font-family: "Source Sans Pro", sans-serif;
  font-size: .9em;
}

p {
  color: #88BDBC;
}